/* Search */

#search {
  width: 320px;
  height: 100%;
  background-color: black;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  overflow: scroll;
  z-index: 7;
}

#search.hide {
  transform: translate(-100vw, 0);
  display: none;
}
 
#search.show {
  transform: translate(0, 0);
  display: block;
}

.App-title {
  font-size: 1.5em;
}

input {
  min-height: 48px;
  width: 300px;
  font-size: 110%;
  margin: 16px 7px;
}
input:focus {
  color: red;
  text-decoration: none;
  outline: 0;
  box-shadow: 0 0 8px 3px red;
}

.restaurant {
  display: block;
  height: 48px;
  margin: 16px;
  font-size: 100%;
  line-height: 48px;
  width: 275px;
  color: white;
  background-color: black;
  border: none;
  text-align: left;
  z-index: 8;
}

button:hover {
  text-decoration: underline;
  cursor: pointer;
}

/* Hamburger Icon */

.top-bar {
  background-color: black;
  height: 5vh;
}

#hamburger-icon {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 9;
  height: 5vh;
}

svg {
  width: 32px;
  fill: #96D9FF;
  height: 5vh;
}

svg:hover {
  background-color: blue;
  cursor: pointer;
}

/* Search and Hamburger Icon */
button:focus {
	color: red;
  text-decoration: none;
  outline: 0;
  box-shadow: 0 0 8px 3px red;
}

/* Map */

#map {
  height: 95vh;
}

.info-content {
  font-size: 1.3em;
}

.venue-name {
  font-weight: bold;
}

.foursquare {
  max-width: 320px;
  min-width: 200px;
}